*{

  font-family: 'Lobster', cursive;
}
body{
  background-image: url(../imagenes/bigtower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#cabecera{
  background-color: grey;
}
#ciudad{
  color: white;
  text-align: left;
  padding-left: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2vh;
}
#telefono{
  color: white;
  text-align: right;
  padding-right: 4vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2vh;
}
#titulo{
  background-color: rgba(225,225,225,0.8);
  font-size: 7vh;
  padding-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 7vw;
  color: black;
}
#menu{
  margin-bottom: 15vh;
}
a:link{
  text-decoration: none;
}
.menus{
  background-color: rgba(100,100,100,0.5);
  color: white;
  font-size: 4vh;
  padding-left: 3vw;
  margin-top: 4vh;
  margin-bottom: 4vh;
}
#fotos{
  text-align: center;
  margin-top: 3vh;
}
#pie{
  background-color: rgba(225,225,225,0.8);
  font-size: 3vh;
  text-align: center;
}
#mapa{
  height: 18vh;
  width: 40vh;
  border: solid;
}
